@import "../../../scampi/modules/u-palette/u-palette";

.back-home {
  background-color: $primary-color;
  color: #fff;
  padding: .25em 1em;

  a {
    color: $gray-9;

    &:hover {
      color: yellow;
    }
  }
}

.sg {
  .main-container {
    padding-bottom: 2em;
  }

  .sg-title {
    color: #000;
    font-weight: normal;
  }

  h1.sg-title {
    font-size: 1.75em;
    margin-top: 1.5em;
    border-bottom: 1px solid $gray-5;

    &:first-child {
      margin-top: 0;
    }
  }

  h2.sg-title {
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 1.5em;
    border-bottom: 1px dashed $gray-5;
  }

  h3.sg-title {
    font-size: 1.25em;
    font-weight: bold;
  }

  .expand-symbol {
    display: inline-block;
    width: 1.25em;
    text-align: left;
  }

  .sg-title + .js-to_expand:not([data-hidden="true"]) {
    padding-top: 1.5em
  }

  .sg-color-boxes {
    p {
      margin: 0;
    }
  }

  .sg-icon-gallery {
    display: flex;
    flex-wrap: wrap;

    p {
      width: 9em;
      text-align: center;
      border: 1px solid $gray-9;
      margin: 0 1em 1em 0;
    }

    .svg-picto {
      display: block;
      margin: auto;
      height: auto;
      width: auto;
      max-height: 5em;
      max-width: 7em;
    }

    .svg-icon {
      display: block;
      margin: 1em auto;
    }
  }
}
