{% extends "common/layout-base-project.twig" %}
{% set body_class = "sg" %}
{% set page = {
  title : "Styleguide",
} %}

{% block banner %}
  <p class="back-home"><a href="./">Retour à l'index du projet</a></p>
  <div class="container"><h1>{{ page.title }} {{ site.title }}</h1></div>
{% endblock %}


{% block content  %}


<button type="button" class="js-expandmore-all btn" data-expand="true">
  Tout déplier
</button>

<div class="sg">
  <h1 id="visu" class="sg-title">Identité visuelle</h1>

  <h2 id="logo" class="sg-title js-expandmore">Logo</h2>
  <div class="js-to_expand">
    {% include "styleguide/1-logo.twig" %}
  </div>

  <h2 id="couleurs-et-fontes" class="sg-title js-expandmore">Couleurs</h2>
  <div class="js-to_expand">
    {% include "styleguide/1-colors.twig" %}
  </div>

  <h2 class="sg-title js-expandmore">Fontes</h2>
  <div class="js-to_expand">
    {% include "styleguide/1-fonts.twig" %}
    <h3 class="sg-title">Pangramme</h3>
    {% include "styleguide/1-pangram.twig" %}
  </div>

  <h2 id="icones" class="sg-title js-expandmore">Icônes</h2>
  <div class="js-to_expand">
    {% include "styleguide/1-icons.twig" %}
  </div>


  <h1 id="typo" class="sg-title">Éléments de contenu courants</h1>

    <h2 class="sg-title js-expandmore">Typographie</h2>

    <div class="js-to_expand">
      <article class="article">
        {% include "styleguide/2-headings.twig" %}
        {% include "styleguide/2-paragraphs.twig" %}
        {% include "styleguide/2-blockquote.twig" %}
        {% include "styleguide/2-lists.twig" %}
        {% include "styleguide/2-links.twig" %}
      </article>
    </div>

    <h2 class="sg-title js-expandmore">Tableaux</h2>
    <div class="js-to_expand">
      <article class="article">
        {% include "styleguide/2-tables.twig" %}
      </article>
    </div>

    <h2 class="sg-title js-expandmore">Médias</h2>
    <div class="js-to_expand">
      <article class="article">
        {% include "styleguide/2-medias.twig" %}
      </article>
    </div>
  </article>

  <h1 id="buttons" class="sg-title">Boutons et formulaires</h1>
    <h2 class="sg-title js-expandmore">Boutons</h2>
    <div class="js-to_expand">
      <article class="article">
        {% include "styleguide/3-buttons.twig" %}
      </article>
    </div>

    <h2 class="sg-title js-expandmore">Éléments de formulaire</h2>
    <div class="js-to_expand">
      <article class="article">
        {% include "styleguide/3-forms.twig" %}
      </article>
    </div>

    <h2 class="sg-title js-expandmore">Messages</h2>
    <div class="js-to_expand">
      <article class="article">
        {% include "styleguide/3-alerts.twig" %}
      </article>
    </div>

  <h1 id="composants" class="sg-title">Composants du projet</h1>

  <h2 class="sg-title js-expandmore">Liens d'évitement (skip-link)</h2>
  <div class="js-to_expand">
    <p>En situation dans cette page. Rafraîchir la page et tabuler.</p>
  </div>

  <h2 class="sg-title js-expandmore">Fil d'Ariane (breadcrumb)</h2>
  <div class="js-to_expand">
    {% include "styleguide/4-breadcrumb.twig" %}
  </div>

</div>
{% endblock %} <!-- fin bloc content -->

{% block breadcrumb %}{% endblock %}
