{% extends "common/layout-base.twig" %}

{# Personnaliser ici le gabarit de base de votre site. Renommez éventuellement ce fichier pour un nom plus parlant, ex. base-monsite.html #}

{% set site = {
  title : config.site.name,
} %}
