<h3 class="sg-title">Bouton simple (class btn, type button)</h3>

<p><button type="button" class="btn" title="Envoyer">Envoyer</button></p>

<h3 class="sg-title">Bouton primaire (class btn-primary)</h3>
<p><button type="submit" class="btn btn-primary" title="Valider">Valider</button></p>

<h3 class="sg-title">Bouton secondaire (class btn-secondary)</h3>
<p><button type="reset" class="btn btn-secondary" title="Annuler">Annuler</button></p>

<h3 class="sg-title">Boutons désactivés (attribut disabled)</h3>
<button type="button" class="btn" disabled>Bouton simple</button>
<button type="button" class="btn btn-primary" disabled>Bouton primaire</button>
<button type="button" class="btn btn-secondary" disabled>Bouton secondaire</button>
