
<button class="js-expandmore-all btn">Tout déplier</button>

<h3 class="js-expandmore">Question 1</h3>
<div class="js-to_expand">
  <p>Le contenu caché peut être constitué de tout élément html : paragraphes, titres, tableaux, images…</p>
</div>

<h3 class="js-expandmore">Question 2</h3>
<div class="js-to_expand">
  <p>Le contenu caché peut être constitué de tout élément html : paragraphes, titres, tableaux, images…</p>
</div>

<h3 class="js-expandmore">Faut-il une autre question sur plusieurs lignes pour vérifier le comportement du symbole d'ouverture et de fermeture ?</h3>
<div class="js-to_expand is-opened">
  <p>Oui, il le faut</p>
  <p>Ce collapse est ouvert par défaut et peut être replié.</p>
</div>

<h3 class="js-expandmore">Question 4</h3>
<div class="js-to_expand">
  <p>Le contenu caché peut être constitué de tout élément html : paragraphes, titres, tableaux, images…</p>
</div>
